# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/next/node_modules
/next/.next
/next/.pnp
/next/.pnp.js
/next/.yarn/install-state.gz

# testing
/next//coverage

# next.js
/next/.next/
/next/out/

# production
/next/build

# misc
/next/.DS_Store
/next/*.pem

# debug
/next/npm-debug.log*
/next/yarn-debug.log*
/next/yarn-error.log*

# local env files
/next/.env*.local

# vercel
/next/.vercel

# typescript
/next/*.tsbuildinfo
/next/next-env.d.ts

###> symfony/framework-bundle ###
/symfony/.env.local
/symfony/.env.local.php
/symfony/.env.*.local
/symfony/config/secrets/prod/prod.decrypt.private.php
/symfony/public/bundles/
/symfony/var/
/symfony/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/symfony/phpunit.xml
/symfony/phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/symfony.phpunit.result.cache
/symfony/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/symfony/public/assets/
/symfony/assets/vendor/
###< symfony/asset-mapper ###
